@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}

#container {
  width: 1900px;
  height: 800px;
  position: relative;
  background: rebeccapurple;
  border-style: solid;
}

.dot {
    animation: fade 5s infinite;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border-style: dashed;
    border-color: dimgray darksalmon lawngreen fuchsia;
    display: inline-block;
    visibility: visible;
}
