#container {
  width: 800px;
  height: 800px;
  position: relative;
  background: white;
  border-style: solid;
}

.dot {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    display: inline-block;
    visibility: visible;
}
