@keyframes fade {
    0%, 100% {opacity: 0}
    50% {opacity: 1}
}

@keyframes changingBG {
    0%, 100% {background-color: floralwhite;}
    10% {background-color: aqua;}
    20% {background-color: darkcyan;}
    30% {background-color: chartreuse;}
    40% {background-color: darkolivegreen;}
    50% {background-color: deeppink;}
    60% {background-color: firebrick;}
    70% {background-color: crimson;}
    80% {background-color: brown;}
    90% {background-color: black}
}

#container {
  animation: changingBG 10s infinite;
  width: 1900px;
  height: 800px;
  position: relative;
  border-style: solid;
}

.dot {
    animation: fade 5s infinite;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 50%;
    border-style: dashed;
    border-color: dimgray darksalmon lawngreen fuchsia;
    display: inline-block;
    visibility: visible;
}
